@import "normalize.css"
@import "variables"
@import "mixins"
@import "buttons"
@import "checkbox"

@import "claim"
@import "prices"
@import "steps"
@import "newsletter"
@import "footer"

@import "responsive"

html
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

body
  font-family font
  line-height 1.846

input
  font-family: font

p, h1, h2, span
  color text

h2
  &.header
    text-align center
    font-size 36px
    font-weight bold
    line-height 46px
