.claim
  padding-top 150px
  padding-bottom 100px
  center()
  color text
  background url('/assets/images/cake.jpg')
  background-size cover
  background-repeat no-repeat
  background-position center center

  .claim__logo
    display inline-block
    text-decoration none

    &:first-child
      margin-right 30px

    &:last-child
      margin-left 30px

    img
      width 160px

  .claim__header
    font-size 40px
    font-weight bold
    text-align center
    line-height 52px
    margin 50px 0 20px 0

  .claim__description
    font-size 24px
    text-align center
    line-height 27px
