footer
  position relative

  height 390px
  margin-top 150px
  background url('/assets/images/olca.png') no-repeat left bottom
  background-size contain
  padding-top 100px

  .footer__header
    margin 0 0 50px 0

  p
    font-size 18px
    line-height 27px
    center()

    a
      text-decoration underline
      color text

      &:hover
        color link

  .footer__links
    position absolute
    bottom 30px
    right 30px

    margin-right 0

    .footer__link
      margin 0 20px

      &--fb
        color facebook
